.btn-search{
    padding: 6px 30px !important;
    background-color: rgb(111, 103, 222) !important;
    color: white !important;
}
.btn-search:hover {
    box-shadow: #d0c9f2 0 0px 0px 40px inset;
    color: rgb(95, 69, 131);
 }

.btn-good {
    padding: 5px 20px !important;
    background-color: white !important;
    color: rgb(81, 114, 84) !important;
    border: 2px solid #76c579 !important;
    transition: .2s linear !important;
    
}

.btn-good:hover {
   box-shadow: #c9f1c0 0 0px 0px 40px inset;
   color: rgb(81, 114, 84); 
}

.btn-bad{
    padding: 5px 20px !important;
    background-color: rgb(248, 225, 225) !important;
    color: rgb(209, 60, 60) !important;
    transition: .2s linear !important;
}

.btn-bad:hover {
    box-shadow: #f1c0c0 0 0px 0px 40px inset;
    color: rgb(81, 114, 84); 
 }

.btn-done{
    padding: 5px 10px !important;
    background-color: rgb(233, 177, 177) !important;
    color: rgb(123, 48, 48) !important;
}
.btn-done:hover {
    box-shadow: #428732 0 0px 0px 40px inset;
    color: rgb(255, 255, 255);
}

.logbtn{
    padding: 5px 10px !important;
    background-color: rgb(135, 129, 228) !important;
    color: white !important;
    width: 100% !important;
}

.regist{
    background-color: rgb(135, 129, 228) !important;
    color: white !important;
    transition: .2s linear !important;  
    text-decoration:none !important; 
    cursor:pointer !important;  
    width: 100% !important;   
}

.acc{
    background-color:white !important;
    color:rgb(117, 111, 201)!important;
    border: 2px white !important;  
}

.btn-secondary{
    padding: 5px 20px !important;
    background-color: white !important;
    color: rgb(114, 62, 142) !important;
    border: 2px solid #b27be2 !important;
    transition: .2s linear !important;
}