.btn-purple{
    background-color: rgb(113, 107, 198);
    color: white;
    
}

.line{
    border-bottom: 1px solid rgba(143,154,164,0.61);
}

.navbar{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}