.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-purple{
  background-color: purple;
  color: white;
}
a {
  color:rgb(95, 69, 131) !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration:none !important; 
  cursor:pointer !important;  
  color: rgb(162, 113, 229) !important; 
}

.btn-primary {
  padding: 5px 40px !important;
  background-color: white !important;
  color:rgb(95, 69, 131) !important;
  border: 2px solid #a576c5 !important;  
  transition: .2s linear !important;  
  text-decoration:none !important; 
  cursor:pointer !important;  
}

.btn-secondary{
  text-decoration:none !important; 
}
.btn:hover{
  text-decoration:none !important; 

}